.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }

.wd{
    width: 100%;
}

.heading{
    margin-top: 4%;
    text-align: center;
    width: 100%;

}

.heading-text{
    font-weight: 600;

}

.bottom{
    text-align: center;
    
}

.hov :hover{
    transform: scale(1.01);
}

.bk{
    font-size: 20px;
}

.shadow :hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.red{
    font-weight: 500;
    color: red;
}

.bk{
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

body{
    background-color: antiquewhite;
}

.wdch{
    width: 100%;
}